html { 
  background: url(assets/images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

/*NAV*/
.navigation-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
}

.navigation-bar img {
	height: auto;
	width: 200px;
}

.nav-items i {
	font-weight: bold;
	font-size: 22px;
}

.nav-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 19px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: auto;
	margin-bottom: auto;
}

.nav-items li {
	list-style: none;
	margin: 10px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	border-bottom: 10px solid transparent;
}


.nav-items a {
	color: #000000;
	text-decoration: none;
}

.nav-items li:hover {
	border-bottom: 10px solid #000000;
	border-bottom-width: 50%;
	cursor: pointer;
}

/*HERO SECTION*/

.hero-section {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 5px 4fr 5px 4fr;
	grid-template-columns: 1fr 4fr 4fr;
	grid-gap: 5px;
	margin-top: 90px;
}

/*.content {
	grid-column: 3/6;
}*/

.content img {
	height: auto;
	width: 250px;
}

.content {
	align-self: center;
}

.content h1 {
	font-size: 46px;
	letter-spacing: 10px;
	margin-top: 15px;
	width: 100%;
	margin-bottom: 15px;
}
.content p {
	width: 50%;
	color: #525151;
}

.content p, .btn-primary {
	letter-spacing: 5px;
}

.image-holder img {
	height: 430px;
	width: 430px;
	border-radius: 50%;
}

.image-holder {
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	-ms-grid-column-align: center;
	    justify-self: center;
}

.tracker {
	/* grid-column-start: 1;
	grid-column-end: 2; */
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}

.tracker hr {
	text-align: left;
	margin: 0;
	height: 6px;
	background-color: black;
	border: none;
	width: 70px;
}

.thick {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.thick h3 {
	margin: 0;
}

.thick hr {
	margin: auto 0;
	margin-right: 8px;
	height: 10px;
}

.reg-1 hr {
	height: 6px;
	background-color: #201e19;
}

.reg-2 hr {
	height: 4px;
	background-color: #35312f;
}

.reg-3 hr {
	height: 2px;
	background-color: #8b8b8b;
}

.btn-primary {
	height: 47px;
	text-transform: uppercase;
	color: #ffffff;
	background: #000000;
	border: none;
	font-weight: 700;
	padding: 19px;
	word-spacing: 5px;
	cursor: pointer;
}


/*SUB-FOOTER*/
.sub-footer, .sub-nav, .social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-transform: uppercase;
}

.social p {
	margin-right: 47px;
	font-weight: bold;
	cursor: pointer;
}

.sub-footer {
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	padding: 50px 200px;
}

.sub-nav p:first-child {
	margin-right: 10px;
	color: #3c3c3c;
}
.sub-nav p {
	font-weight: 700;
	margin-right: 10px;
	margin-top: auto;
	margin-left: auto;
	cursor: pointer;
}


/*MEDIA QUERIES ^ */

@media (max-width: 	1700px){
	.navigation-bar > ul {
		font-size: 	20px;
	}
	.navigation-bar {
		margin: 30px 60px;
	}
}

@media (max-width: 	1100px){
	.navigation-bar > ul {
		font-size: 	15px;
	}
	.navigation-bar {
		margin: 30px 60px;
	}
}

@media (min-width: 900px){
	.sub-footer p {
	font-size: 20px;
}
}

@media (max-width: 1366px){
	.nav-items li {
		font-size: 15px;
	}
}

@media (max-width: 1120px){
	.btn-primary {
		margin: 5px;
	}
}

@media (max-width: 940px){
	.navigation-bar > ul {
		display: none;
	}

	.hero-section {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;	
		grid-gap: 	20px;
	}

	.btn-primary {
		margin: 5px;
	}

	.image-holder {
		height: 460px;
		width: 460px;
		border-radius: 50%;
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center;
		margin: 20px;
	}

	.image-holder img {
		height: 460px;
		width: 460px;
	}

	.sub-footer {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin: 65px 5px;
	}

	.social p{
		margin: 10px 10px;
	}

	.social {
		margin:0px;
	}
}

@media (max-width: 630px){
	.image-holder {
		height: 400px;
		width: 400px;
		border-radius: 50%;
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center;
		margin: 20px;
	}

	.image-holder img {
		height: 400px;
		width: 400px;
	}
}

@media (max-width: 420px){
	.image-holder {
		height: 300px;
		width: 300px;
		border-radius: 50%;
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center;
		margin: 20px;
	}

	.image-holder img {
		height: 300px;
		width: 300px;
	}
}